.categories {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.categories .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories .top h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 54px;
  line-height: 110.00000000000001%;
  color: #282828;
  letter-spacing: 0%;
}
.categories .top .link {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: 0%;
  text-align: center;
  color: #8b8b8b;
  border: 1px solid #dddddd;
  padding: 8px 15px;
}
.categories .top .link:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
.categories .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories .wrapper .box {
  margin: 10px;
  width: 20%;
  border-radius: 10px;
  transition: transform 0.3s ease;  
}
.categories .wrapper .box img{
    width: 100%;
}
.categories .wrapper .box h5 {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #282828;
  text-align: center;
}


@media (max-width:600px) {
    .categories .top h2{
        font-size: 32px;
    }
    .categories .top .link{
        font-size: 14px;
        padding: 6px 10px;
    }
    .categories .wrapper .box{
        width: 45%;
    }
}
@media (max-width:500px) {
    .categories .wrapper .box{
        width: 100%;
    }
    
}