.order {
  margin: 50px auto;
  width: 90%;
  background: linear-gradient(261.47deg, #0b710b 32.63%, #339933 98.96%);
  border-radius: 18px;
  padding: 30px;
}
.order h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.order .item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order form input {
  padding: 16px 32px;
  width: 400px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.order form input::placeholder {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}
.order form button {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #282828;
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
}
.order img{
    width: 100%;
}

@media (max-width:1330px) {
  .order .item {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width:600px) {
  .order h3 {
    font-size: 40px;
  }
  .order form input {
    width: 100%;
  }
   .order {
    padding: 20px; 
}