.contact {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 54px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #282828;
}
.contact .top {
  display: flex;
  align-items: center;
  width: 100%;
}
.contact .top .item {
  width: 60%;
  background: #f1f3f4;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact .top .socials {
  width: 30%;
  margin: auto;
  background: #f1f3f4;
    padding: 25px;

  border-radius: 20px;
}
.contact span {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #8b8b8b;
}
.contact h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #282828;
}
.contact .bottom {
  display: flex;
}
.contact .address {
  width: 60%;
  background: #f1f3f4;
    padding: 1%;

  border-radius: 20px;
}
.contact .hours {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
  background: #f1f3f4;
  padding: 3%;
  border-radius: 20px;
}
.contact .map .maps{
    border-radius: 10px;
}


@media (max-width:800px) {
    .contact .top{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .contact .top .socials{
        width: 100%;
    }
    .contact .top .item{
        width: 100%;
    }
    .contact .bottom{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .contact .bottom .address{
        width: 100%;
    }
    .contact .bottom .hours{
        width: 100%;
    }
    .contact h3{
        font-size: 32px;
    }
    .contact span{
        font-size: 16px;
    }
}